# Tuples
    - similar to lists ( but read-only )
    - ordered,  collections of items
    - indexable
    - immutable

In [1]:
# creating empty tuple

t = ()
t = tuple()

In [2]:
type(t)

tuple

In [5]:
# Heterogenous elements
tup = (8, 9, "Hello", 88)

In [4]:
print(tup)

(8, 9, 'Hello', 88)

In [5]:
type(tup)

tuple

In [6]:
# for one element : only parenthesis is not enough
t = ('mohit')

In [7]:
type(t)

str

In [1]:
# for one element : comma is mandatory
t = ('mohit',)

In [2]:
type(t)

tuple

In [3]:
t = 'mohit',

In [4]:
type(t)

tuple

## Access elements in tuples

In [12]:
print(tup)

(8, 9, 'Hello', 88)

In [13]:
print( tup[0] )
print( tup[-1] )

8
88

In [14]:
# get all elements except the last one
print( tup[:-1])

(8, 9, 'Hello')

In [15]:
print( tup[:])

(8, 9, 'Hello', 88)

### Changing a Tuple

In [16]:
# typeError . This is not possible? bcoz of immutability
tup[0] = 80

TypeError: 'tuple' object does not support item assignment

* tuples are 10 times faster than list and read-only

In [20]:
# are tuples really immutable? --> https://www.udemy.com/course/python-programming-beginners-bootcamp/learn/lecture/25990604#overview

lst = ['mohit', 'prateek', 'rohit']

tup = (20, 30, lst, (1, 2, 3), 104.0)

In [19]:
print(tup)
print(tup[2][2])

(20, 30, ['mohit', 'prateek', 'rohit'], (1, 2, 3), 104.0)
rohit

In [ ]:
tup[2][2] = "jatin"

In [ ]:
print(tup)

(20, 30, ['mohit', 'prateek', 'jatin'], (1, 2, 3), 104.0)

<img src="./images/tuples.jpg" width=400>

## Tuples Operations

In [23]:
print(tup)
print()

for ele in tup:
    print(ele*2)

(20, 30, ['mohit', 'prateek', 'rohit'], (1, 2, 3), 104.0)

40
60
['mohit', 'prateek', 'rohit', 'mohit', 'prateek', 'rohit']
(1, 2, 3, 1, 2, 3)
208.0

### Concatinating tuples

In [24]:
t = (1,2,3) + (4,5,6) ## here we are not update t1, we are creating new one.
print(t)

(1, 2, 3, 4, 5, 6)

In [29]:
print( type((0)) )
print( type((0,)) )

print( (0,)*10 )
print( [0,]*10 )

<class 'int'>
<class 'tuple'>
(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

### Tuple Deletion

In [30]:
# we cannot change/delete an elements in a tuple. 
# But we can delete entire tuple using del keyword

t = (1,2,3,4,5,6)

#delete entire tuple
del t


print(t)

NameError: name 't' is not defined

### Tuple Index

In [32]:
t = (1,2,3,1,3,3,4,1)

print(t)

(1, 2, 3, 1, 3, 3, 4, 1)

In [33]:
print( t.index(3) ) # returns index of the first occurence of element

2

In [34]:
print( t.count(3) )

3

### Tuple Membership

In [35]:
# test if an item exists in a tuple or not, using the keyword 'in'.
9 in t

False

In [36]:
1 in t

True

### Tuple Unpacking

In [37]:
t = (4,2,1)

In [38]:
a = t[0]
b = t[1]
c = t[2]

In [39]:
print(a, b, c)

4 2 1

In [47]:
d, e, f = t

In [48]:
print(d,e,f)

4 2 1

In [51]:
print(t) # prints tuple
print(*t) # unpack t and print

(4, 2, 1)
4 2 1